# Python
.env
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/

# dbt
dbt.log
logs/
target/
dbt_packages/

.DS_Store

secrets.auto.tfvars
mnt/

# Terraform junk
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
