services:

  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  minio:
    image: minio/minio
    command: server /data #--console-address ":9001" \ enable for web browser use
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      #- "9001:9001" \ enable this for web browser use

  mc:
    image: minio/mc
    entrypoint: /bin/sh
    tty: true
    depends_on:
      - minio
